@model IBA.Task3.DAL.Models.Test

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Вы уверену, что хотите удалить этот тест?</h3>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attempts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attempts)
        </dd>
    </dl>

    @*<div id="TestId" style="display:none;">
            @Html.ViewData.Model.Id
        </div>*@

    <input type="text" style="display:none;" id="TestId" value="@Html.ViewData.Model.Id" />
    @*<p id="TestId" style="display:none;">@Html.ViewData.Model.Id</p>*@
    @*<input id="TestId" style="display:none;" data=@Html.ViewData.Model.Id value=@Html.ViewData.Model.Id />*@

    <div id="card-body">
        <input type="submit" id="submitDelete" value="Удалить" /><br /><br />
    </div>
</div>

<script src="~/Scripts/TestRemover.js"></script>